/* src/components/PostList.module.css */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
}

.post {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.post:hover {
  transform: translateY(-5px);
}

h2 {
  color: #333;
  font-size: 1.5em;
  margin-bottom: 10px;
}

p {
  color: #666;
  margin-bottom: 10px;
}

.button_container {
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 10px;
}

button {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

button.button_edit {
  background-color: #0004ff;
}

button:hover {
  background-color: #c82333;
}

a {
  background-color: #007BFF;
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 13px;
  transition: background-color 0.3s ease-in-out;
}

a:hover {
  background-color: #0056b3;
}
